/* universal selector, applies to the whole page */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

/* color for the whole page */
body {
    background-color: #d9dcd6;
}

/* styling for header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    height: 150px;
}

/* eveything in header is in-line, set h1 size */
.header h1 {
    display: inline-block;
    font-size: 75px;
    margin: 10px 0;
}

/* sets color for class seo in header */
.header h1 .seo {
    color: #d9dcd6;
}

/* styling for nav in the header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header nav ul li {
    display: inline-block;
    margin:20px 20px;
}

/* sets style for links/anchors found at top of page */
a {
    color: #ffffff;
    text-decoration: none;
}

/* font-size for all writing in <p> tags */
p {
    font-size: 23px;
}

/* attributes for 'hero' image */
.hero {
    height: 1500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}


.content {
    width: 79%;
    display: inline-block;
    margin-left: 20px;
}

.content img {
    max-height: 300px;
}

/* attributes for main these classes. left as separate classes in case each is to be styles differently in future. */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding:50px 50px;
    height: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* attributes for the box on the right with benefits info */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 18%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* attributes for each class */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* attributes for h2, and h3 */
h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 250px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
